/* ////////////////////////
HEADER 1
//////////////////////// */

* {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    font-family: "Lucida Grande";
}

header {
    height: 65px;
    width: 100%;
    background-color: rgb(30, 30, 46);
    position :fixed;
    top: 0;
    z-index: 10;
  }
  
  .name {
    width: 124px;
    margin-top: 20px;
  }
  
  .header-name {
    color: white;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: bold;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
    text-decoration: none;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.075);
  }

/* ////////////////////////
HEADER 2
//////////////////////// */

  
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    position :fixed;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }


/* ////////////////////////
CSS WRAPPER
//////////////////////// */
.top-wrapper {
  
  padding: 250px;
  background: url(top.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.containers {
  position: absolute;
  transform: translate(-50%,-50%);
  text-align: center;
  
  top: 35%;
  left: 70%;
}

.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}



/* ////////////////////////
CSS KONTEN
//////////////////////// */
.konten {
  text-align: center;
  background: #FFFAFA;
  padding: 50px;
}


/* ////////////////////////
CSS WRAPPER
//////////////////////// */

.extra-satu {
  text-align: center;
  background: rgb(30, 30, 46);
  padding: 100px;
  color: white;
}





/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# FOOter
--------------------------------------------------------------*/
footer {
  height: 100px;
  width: 100%;
  background-color: black;
  bottom: 0;

  text-align: center;
}

  .footer h2 {
    padding-top: 10px;
    font-family: cursive;
    text-align: center;
    color: #FFFAFA;

  }

  .footer p {
    text-align: center;
    color: #FFFAFA;

  }
